<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Autores</title>
</head>
<body>

<nav>
    <a href="/">Inicio</a>
</nav>

<h1>Autores del Proyecto</h1>

<div>
    <h2>Eloy Velasco Saura</h2>
    <img src="https://wallpaperaccess.com/full/3779849.jpg" alt="Foto Eloy" style=" width:200px;">
</div>

<div>
    <h2>María Victoria Magpali Pescador</h2>
    <img src="https://imgs.search.brave.com/38N0JQg-lA16X8UHHAW0rYw3QICEFfjfRN7A3L0i3SE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/ZGV4ZXJ0by5lcy9j/ZG4taW1hZ2Uvd3At/Y29udGVudC91cGxv/YWRzL3NpdGVzLzMv/MjAyMC8wNi9yZXlu/YS1hZ2VudGUtdmFs/b3JhbnQuanBnP3dp/ZHRoPTEyMDAmcXVh/bGl0eT02MCZmb3Jt/YXQ9YXV0bw" alt="Foto Victoria" style=" width:200px;">
</div>

<div>
    <h2>Alejandro Moreno Ceacero</h2>
    <img src="https://imgs.search.brave.com/OACmiBhAqVOreNz7AZc1OAsvPbKQdB1mzhro24d0La4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvMzYx/MjA3Mi5qcGc" alt="Foto Alex" style=" width:200px;">
</div>

<div>
    <h2>Pietro Martínez de Stefano</h2>
    <img src="https://imgs.search.brave.com/xUt8KwhazTE0zfM0GBFY0HqzuIQQn1zf413GxtIRAJM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9kb3Rl/c3BvcnRzLmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAyMS8w/Ni8yMTA5NTEyOS9h/dGV5LWdoYWlsYW4t/Z29sZDIwLWJyaS1i/cmltc3RvbmUtZ29s/ZGVuLW1vbWVudC10/aHVtYm5haWwuanBn" alt="Foto Pietro" style=" width:200px;">
</div>





</body>
</html>