<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Página Principal</title>
</head>
<body>
<nav>
    <a href="/">Inicio</a>
    <a href="/vista1">Vista 1</a>
    <a href="/vista2">Vista 2</a>
    <a href="/vista3">Vista 3</a>
    <a href="/vista4">Vista 4</a>
    <a href="/vista5">Vista 5</a>
    <a href="/autor">Autores</a>
</nav>

<h1>ColaSmart</h1>
<p>ColaSmart es una plataforma web para gestionar turnos y colas virtuales en servicios
presenciales como secretarías, tutorías o laboratorios. Los usuarios se ponen
en cola desde su móvil, reciben notificaciones en tiempo real y evitan esperas innecesarias.
El personal organiza la atención y prioriza casos. Menos colas físicas, menos estrés y una
experiencia más eficiente para todos.
Roles y tareas
• Administrador: Crea y elimina nuevas colas con su ubicación y servicio. Gestiona usuarios y permisos, configura horarios, límites de aforo y exporta informes.
Creación de códigos QR para anunciar existencia de servicio
• Personal de atención: Abre y cierra turnos, llama al siguiente usuario, reordena
prioridades, marca incidencias y visualiza el estado de la cola en tiempo real.
Posibilidad de proyectar (o de poner una pantalla tonta) mostrando el estado de la lista en el lugar => posible meter el QR en esta pantalla!
Pueden ver las revisiones
• Usuario/Cliente: Solicita turno, consulta tiempo estimado de espera,
recibe avisos, cancela reservas y valora el servicio. Escanea el QR, selecciona prioridad si las hay,  para solicitar turno.
</p>

</body>
</html>