<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Vista 2</title>
</head>

<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/nav.html :: nav}"></header>

<h1>Vista de usuario de la cola en la que está</h1>
<p>El usuario verá su posición en la cola, su prioridad asignada y un tiempo de espera estimado para ser atendido.</p>
<h2>Numero 30</h2>
 <img src="https://media.istockphoto.com/id/1323903078/es/vector/gran-grupo-multietnico-multirracial-de-personas-de-pie-en-largas-colas.jpg?s=612x612&w=0&k=20&c=fASn6-pV04VJcGbFNhIS0ITenPKWCXX5M-0bCYZb_qs=" alt="Foto cola" style=" width:200px;">
<p>Su turno es el numero 30 de la cola.</p>

</body>
</html>