<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Vista 2</title>
</head>

<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/nav.html :: nav}"></header>

<main class="flex-shrink-0">
    <div class="container mt-4">

        <div class="row align-items-center">

            <!-- IZQUIERDA: información -->
            <div class="col-md-6">

                <p><strong>Tipo de servicio:</strong> Atención Secretaría</p>
                <p><strong>Tiempo estimado:</strong> 15 minutos</p>

            </div>

            <!-- DERECHA: puesto en cola grande -->
            <div class="col-md-6 text-center">

                <h1 class="fw-bold text-primary" style="font-size: 8rem;">
                    D4T
                </h1>

                <p class="fs-4">Tu turno</p>

            </div>

        </div>

        <!-- BOTONES ABAJO -->
        <div class="row mt-5">

            <div class="col-6 text-start">
                <button type="button" class="btn btn-success btn-lg">
                    Tu turno
                </button>
            </div>

            <div class="col-6 text-end">
                <button type="button" class="btn btn-danger btn-lg">
                    Abandonar la cola
                </button>
            </div>

        </div>

    </div>
</main>


</body>
</html>