<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Vista 5</title>
</head>

<body class="d-flex flex-column h-100">

    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <div th:if="${u != null and u.hasRole('ADMIN')}" class="container">
        <h1>Vista de administrador, gestionando ubicaciones</h1>
        <p>crea un lugar para la gestión de cada empresa que se dé de alta y elimina los de las empresas que se den de baja</p>
    </div>
    <div th:unless="${u != null and u.hasRole('ADMIN')}" class="container text-center mt-5">
            <div class="alert alert-danger">
                <h2> Solo administradores</h2>
            </div>
        </div>
</body>
</html>