<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vista 1</title>
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/autor">Autores</a>
</nav>

<h1>Lista de espera de un negocio, con QR para apuntarse</h1>
<p>Cada negocio tendrá un QR, el cual debe escanearse por el usuario para figurar en la cola.</p>

<h2>Escanea QR para entrar en una cola</h2>
 <img src="https://cdn-icons-png.flaticon.com/512/3081/3081329.png" alt="Foto qr" style=" width:200px;">
<p>El usuario escanea el QR, se le asigna un turno y puede ver su posición en la cola y el tiempo estimado de espera.</p>

</body>
</html>