<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Vista 3</title>
</head>

<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/nav.html :: nav}"></header>

<h1>Vista de configuración de una nueva cola</h1>
<p>Configura: qué información se muestra, logotipos o similar, tiempos estimados, y los servicios (por ejemplo: DNI/Pasaporte/Denuncia)
</p>

</body>
</html>