<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Autores</title>
</head>

<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/nav.html :: nav}"></header>

<h1>Autores del Proyecto</h1>

<div>
    <h2>Eloy Velasco Saura</h2>
    <img src="/img/eloy.png" alt="Foto Eloy" style=" width:200px;">
</div>

<div>
    <h2>María Victoria Magpali Pescador</h2>
    <img src="/img/victoria.png" alt="Foto Victoria" style=" width:200px;">
</div>

<div>
    <h2>Alejandro Moreno Ceacero</h2>
    <img src="/img/alex.png" alt="Foto Alex" style=" width:200px;">
</div>

<div>
    <h2>Pietro Martínez de Stefano</h2>
    <img src="/img/pietro.png" alt="Foto Pietro" style=" width:200px;">
</div>





</body>
</html>