<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <meta charset="UTF-8">
    <title>Añadir nuevo miembro del personal</title>
</head>

<body class="d-flex flex-column h-100">

<header th:replace="~{fragments/nav.html :: nav}"></header>

 <main class="flex-shrink-0">
        <div th:if="${u != null and u.hasRole('ADMIN')}" class="container">
            <h1>Vista de configuración de un nuevo miembro del personal</h1>
            <button type="button" id="btnLorem" class="btn btn-success mt-3">Lorem</button>
            <form class="row g-3 mt-4" th:action="@{/panelAdmin/personal}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Apellidos</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Sala asignada</label>
                    <input type="text" name="lugar" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Nombre de Usuario</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                    
                <div class="col-md-6">
                    <label class="form-label">Colas</label>
                    <select name="colasId" class="form-control" multiple required>
                        <option th:each="cola : ${colas}"
                                th:value="${cola.id}"
                                th:text="${cola.nombre}"
                                th:selected="${colasDelUsuario != null and colasDelUsuario.contains(cola)}">
                        </option>
                    </select>
                </div>

                <button type="submit" class="btn btn-success mt-3">Añadir personal</button>
            </form>
        </div>
        <div th:unless="${u != null and u.hasRole('ADMIN')}" class="container text-center mt-5">
            <div class="alert alert-danger">
                <h2>Solo administradores</h2>
            </div>
        </div>
    </main>

    <script>
        document.getElementById("btnLorem").addEventListener("click", async function () {
            const res = await fetch("/panelAdmin/personal/lorem");
            const data = await res.json();
            document.getElementById("firstName").value = data.firstName;
            document.getElementById("lastName").value = data.lastName;
        });
    </script>

</body>
</html>